{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}G-Equip{% endblock %}

{% block headline %}G-Equip{% endblock headline %}

{% block head_style %}
    {% stylesheets filter='cssrewrite'
        'bundles/app/css/app.css'
        'bundles/app/css/bootstrap.min.css'
        'bundles/app/css/bootstrap-theme.min.css'
        'bundles/bmatznerfontawesome/css/font-awesome.min.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
    {% javascripts
        'bundles/app/js/jquery.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, inverse: true, id: 'navbar-top' } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <span class="fa fa-globe"></span>
                {{ 'app.title' | trans }}
            </a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('AppBundle:Main:mainMenu', {'automenu': 'navbar'}) }}
            {{ mopa_bootstrap_menu('AppBundle:Main:userMenu', {'automenu': 'navbar', 'pull-right': true}) }}
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block footer %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedBottom: true, inverse: true, id: 'navbar-bottom' } %}

        {% block menu %}
            {{ mopa_bootstrap_menu('AppBundle:Main:footerMenu', {'automenu': 'navbar'}) }}
        {% endblock %}
    {% endembed %}
{% endblock footer %}

{% block body_end_before_js %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'settings.delete.confirm.close' | trans }}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'settings.delete.confirm.title' | trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'settings.delete.confirm.core' | trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="fa fa-reply"></span>&nbsp;{{ 'settings.delete.confirm.cancel' | trans }}
                    </button>
                    <button type="button" class="btn btn-primary btn-ok">
                        <span class="fa fa-remove"></span>&nbsp;{{ 'settings.delete.confirm.delete' | trans }}
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock body_end_before_js %}

{% block foot_script %}
    {% block foot_script_assetic %}
        {% javascripts
            'bundles/app/js/bootstrap.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock foot_script_assetic %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
            $('#confirm-delete')
                .on('click', '.btn-ok', function() {
                    var formName = 'form[name="'+ $(this).data('form') +'"]';
                    $(formName).submit();
                })
                // Bind to modal opening to set necessary data properties to be used to make request
                .on('show.bs.modal', function(e) {
                    var data = $(e.relatedTarget).data();
                    $('.btn-ok', this).data('form', data.form);
                });
        });
    </script>
{% endblock foot_script %}

{% block content_content %}{% endblock %}
