{% extends '@App/base.html.twig' %}

{% block title %}{{ 'settings.index.title' | trans }} · {{ parent() }}{% endblock %}

{% block content_content %}
    {% block content_breadcrumb %}
        {% if path is not null %}
            <ol class="breadcrumb" id="content-breadcrumb">
                {%  for node in path %}
                    <li><a href="{{ path( settings_entity_show, {'slug': node.slug}) }}" title="{{ node.name }}">{{ node.name }}</a></li>
                {% endfor %}
            </ol>
        {% endif %}
    {% endblock content_breadcrumb %}

    {% block content_settings %}{% endblock content_settings %}

    {% block content_logs %}
        {% if logs is defined and logs | length > 0 %}
            <div class="panel panel-default" id="settings-logs">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'setting.log' | trans }}</h3>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th id="logs-version">{{ 'settings.log.version' | trans }}</th>
                        <th id="logs-action">{{ 'settings.log.action' | trans }}</th>
                        <th id="logs-date">{{ 'settings.log.date' | trans }}</th>
                        <th id="logs-user">{{ 'settings.log.user' | trans }}</th>
                        <th id="logs-value">{{ 'settings.log.old-value' | trans }}</th>
                    </tr>
                    </thead>
                    {% for log in logs %}
                        <tr>
                        <td rowspan="{{ log.data | length }}" headers="logs-version">{{ log.version }}</td>
                        <td rowspan="{{ log.data | length }}" headers="logs-action">{{ log.action }}</td>
                        <td rowspan="{{ log.data | length }}" headers="logs-date">{{ log.loggedAt | localizeddate('short','short')}}</td>
                        <td rowspan="{{ log.data | length }}" headers="logs-user">{{ log.username }}</td>
                        {% for key, row in log.data %}
                            <td headers="logs-value">
                                {# TODO replace by a view helper #}
                                {% if key == 'name' %}
                                    {{ 'setting.family.name'| trans }}: {{ row }}
                                {% elseif key == 'parent' %}
                                    {{ 'setting.family.parent'| trans }}:
                                    {% if row is null %}
                                        {{ 'setting.family.parent.none' | trans }}
                                    {% elseif row.object is defined %}
                                        {{ row.object }}
                                    {% else %}
                                        {{ 'setting.family.parent.no-more-existing %id%' | trans({'id': row.id}) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% if not loop.last %}</tr><tr>{% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

    {% endblock content_logs %}
{% endblock content_content %}

{% block content_sidebar %}
    {% block content_action %}

    {% endblock content_action %}
    <hr>
    {% block content_information %}
        {# @Todo Ajouter un template qui affiche cela. Un affecteur, un dessinateur, j'ai plus le terme en tête. #}
        {# @FIXME remove calls to family #}
        {% if informations is defined %}
            <div class="panel panel-default" id="settings-creator-information">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'setting.information' | trans }}</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        {% if informations.creator %}
                            <dt>{{ 'setting.created.by' | trans}}</dt>
                            <dd>{{ informations.creator }}</dd>
                        {% endif %}
                        {% if informations.created %}
                            <dt>{{ 'setting.created.at' | trans}}</dt>
                            <dd>{{ informations.created | localizeddate('short', 'short') }}</dd>
                        {% endif %}
                        {% if informations.updater %}
                            <dt>{{ 'setting.updated.by' | trans}}</dt>
                            <dd>{{ informations.updater }}</dd>
                        {% endif %}
                        {% if informations.updated %}
                            <dt>{{ 'setting.updated.at' | trans}}</dt>
                            <dd>{{ informations.updated | localizeddate('short', 'short') }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% endif %}
    {% endblock content_information %}
{% endblock content_sidebar %}