{% extends '@App/base.html.twig' %}

{% block title %}{{ 'settings.index.title' | trans }} · {{ parent() }}{% endblock %}

{% block content_content %}
    {% block content_breadcrumb %}
        {% if path is defined and path is not null %}
            <ol class="breadcrumb" id="content-breadcrumb">
                {%  for node in path %}
                    <li><a href="{{ path( settings_entity_show, {'slug': node.slug}) }}" title="{{ node.name }}">{{ node.name }}</a></li>
                {% endfor %}
            </ol>
        {% endif %}
    {% endblock content_breadcrumb %}

    {% block content_settings %}{% endblock content_settings %}

    {% block content_logs %}
        {% if logs is defined and logs | length > 0 %}
            <div class="panel panel-default" id="settings-logs">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'settings.log' | trans }}</h3>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center" id="logs-version">{{ 'settings.log.version' | trans }}</th>
                        <th class="text-center" id="logs-action">{{ 'settings.log.action' | trans }}</th>
                        <th class="text-center" id="logs-date">{{ 'settings.log.date' | trans }}</th>
                        <th class="text-center" id="logs-user">{{ 'settings.log.user' | trans }}</th>
                        <th class="text-center" id="logs-value">{{ 'settings.log.new-value' | trans }}</th>
                    </tr>
                    </thead>
                    {% for log in logs %}
                        <tr>
                            <td headers="logs-version" class="text-center">{{ log.version }}</td>
                            <td headers="logs-action" class="text-center">
                                <span class="label label-default">{{ log.action | trans }}</span>
                            </td>
                            <td headers="logs-date" class="text-center">{{ log.logged | localizeddate('medium','medium')}}</td>
                            <td headers="logs-user" class="text-center">{{ log.username }}</td>
                            <td headers="logs-value">
                                <dl class="dl-horizontal">
                                    {% for row in log.data %}
                                        <dt>{{ row.label | trans }}</dt>
                                        {% if row.none %}
                                            <dd>{{ 'settings.none' | trans }}</dd>
                                        {% elseif row.noMore %}
                                            <dd>{{ 'settings.no-more %entity% %id%' | trans({'id': row.id, 'entity':row.entity}) }}</dd>
                                        {% elseif row.translate %}
                                            <dd>{{ row.name | trans }}</dd>
                                        {% else %}
                                            <dd>{{ row.name }}</dd>
                                        {% endif %}
                                    {% endfor %}
                                </dl>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

    {% endblock content_logs %}
{% endblock content_content %}

{% block content_sidebar %}
    {% block content_action %}{% endblock content_action %}
    <hr>
    {% block content_information %}
        {% if informations is defined %}
            <div class="panel panel-default" id="settings-creator-information">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'settings.information' | trans }}</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        {% if informations.creator %}
                            <dt>{{ 'settings.created.by' | trans}}</dt>
                            <dd>{{ informations.creator }}</dd>
                        {% endif %}
                        {% if informations.created %}
                            <dt>{{ 'settings.created.at' | trans}}</dt>
                            <dd>{{ informations.created | localizeddate('short', 'short') }}</dd>
                        {% endif %}
                        {% if informations.updater %}
                            <dt>{{ 'settings.updated.by' | trans}}</dt>
                            <dd>{{ informations.updater }}</dd>
                        {% endif %}
                        {% if informations.updated %}
                            <dt>{{ 'settings.updated.at' | trans}}</dt>
                            <dd>{{ informations.updated | localizeddate('short', 'short') }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% endif %}
    {% endblock content_information %}
{% endblock content_sidebar %}
