{% extends "@FOSUser/layout.html.twig" %}

{% block title %}{{ parent() }}&nbsp;&bull; {{ 'profile.password.title'|trans }}{% endblock %}

{% block headline %}{{ 'profile.password.title'|trans }}{% endblock headline %}

{% block content_content %}
    {% block fos_user_content %}
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock content_content %}

{% block content_sidebar %}
    <div class="panel panel-info">
        <div class="panel-heading"><h2 class="panel-title">{{ 'profile.password.information' | trans }}</h2></div>
        <div class="panel-body"><p>{{ 'profile.password.how-to-edit' | trans }}</p></div>
    </div>
{% endblock content_sidebar %}
