{% extends "@FOSUser/layout.html.twig" %}

{% block title %}{{ parent() }}&nbsp;&bull; {{ 'change_password.title'|trans }}{% endblock %}

{% block headline %}{{ 'change_password.title'|trans }}{% endblock headline %}

{% block content_content %}
    {% block fos_user_content %}
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock content_content %}

{% block content_sidebar %}
    <div class="panel panel-info">
        <div class="panel-heading"><h2 class="panel-title">{{ 'change_password.informations' | trans }}</h2></div>
        <div class="panel-body"><p>{{ 'change_password.how_to_change_password' | trans }}</p></div>
    </div>
{% endblock content_sidebar %}