{% extends '@App/settings/base.html.twig' %}

{% block title %}{{ 'settings.status.list.title'|trans }} · {{ parent() }}{% endblock title %}

{% block headline %}{{ 'settings.status.list.title'|trans }}{% endblock %}

{% block content_content %}
    <table class="table">
        <thead>
            <tr>
                <th id="status-name">Name</th>
                <th class="text-center" id="status-initial">Initial</th>
                <th class="text-center" id="status-discarded">Discarded</th>
                <th class="text-center" id="status-managed">Managed</th>
                <th id="status-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.name }}</td>
                <td class="text-center">
                    {% if status.initial %}
                        <span class="label label-success">{{ 'yes' | trans }}</span>
                    {% else %}
                        <span class="label label-danger">{{ 'no' | trans }}</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if status.discarded %}
                        <span class="label label-success">{{ 'yes' | trans }}</span>
                    {% else %}
                        <span class="label label-danger">{{ 'no' | trans }}</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if status.managed %}
                        <span class="label label-success">{{ 'yes' | trans }}</span>
                    {% else %}
                        <span class="label label-danger">{{ 'no' | trans }}</span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group-xs btn-group">
                        <a class="btn btn-default" href="{{ path('settings_status_show', { 'id': status.id }) }}">
                            <span class="fa fa-eye"></span>
                            <span class="sr-only">{{ 'settings.show' | trans }}</span>
                        </a>
                        <a class="btn btn-default" href="{{ path('settings_status_edit', { 'id': status.id }) }}">
                            <span class="fa fa-edit"></span>
                            <span class="sr-only">{{ 'settings.edit' | trans }}</span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content_content %}

{% block content_action %}
    <div class="text-center">
        <a class="btn btn-default" href="{{ path('settings_status_new') }}">
            <span class="fa fa-cube"></span>
                {{ 'settings.status.create' | trans }}
        </a>
    </div>
{% endblock %}