{% extends '@App/base.html.twig' %}

{% block title %}{{ 'setting.family.list.title'|trans }}{% endblock title %}

{% block headline %}{{ 'setting.family.list.title'|trans }}{% endblock %}

{% block content_content %}
    <div id="contenu_html"></div>
{% endblock content_content %}
{% block content_sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ 'settings.actions' | trans }}</h2>
        </div>
        <div class="panel-body">
            <a class="btn btn-default btn-mini" href="{{ path('settings_family_new') }}">
                <span class="fa fa-file-o"></span>&nbsp;{{ 'settings.family.create' | trans }}
            </a>
        </div>
    </div>
{% endblock content_sidebar %}

{% block foot_script %}
<script id="activation">
    $('#contenu_html').html('{% autoescape 'js' %}{{ family_tree | htmlMessage }}{% endautoescape %}');
</script>
{% endblock %}
