{% extends '@App/base.html.twig' %}

{% block title %}{{ 'setting.family.show.title %name%'|trans({'%name%': family.name})}}{% endblock title %}

{% block headline %}{{ 'setting.family.show.title %name%'|trans({'%name%': family.name})}}{% endblock %}

{% block content_content %}
    <ol class="breadcrumb">
        {%  for node in path %}
        <li><a href="{{ path('settings_family_show', {'slug': node.slug}) }}" title="{{ node.name }}">{{ node.name }}</a></li>
        {% endfor %}
    </ol>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'setting.global-information' | trans }}</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt class="lead">{{ 'setting.family.name'| trans }}</dt>
                <dd class="lead">{{ family.name }}</dd>
                <dt>{{ 'setting.family.root'| trans }}</dt>
                <dd>{{ family.root.name }}</dd>
                <dt>{{ 'setting.family.parent'| trans }}</dt>
                    {% if family.parent is null %}
                        <dd><em>{{ 'setting.none' | trans }}</em></dd>
                    {% else %}
                        <dd>{{ family.parent.name }}</dd>
                    {% endif %}
            </dl>
        </div>
    </div>

    {% if logs | length > 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'setting.log' | trans }}</h3>
            </div>
            <div class="panel-body">
                <p></p>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th id="logs-version">{{ 'settings.log.version' | trans }}</th>
                    <th id="logs-action">{{ 'settings.log.action' | trans }}</th>
                    <th id="logs-date">{{ 'settings.log.date' | trans }}</th>
                    <th id="logs-user">{{ 'settings.log.user' | trans }}</th>
                    <th id="logs-value">{{ 'settings.log.old-value' | trans }}</th>
                </tr>
                </thead>
                {% for log in logs %}
                    <tr>
                    <td rowspan="{{ log.data | length }}" headers="logs-version">{{ log.version }}</td>
                    <td rowspan="{{ log.data | length }}" headers="logs-action">{{ log.action }}</td>
                    <td rowspan="{{ log.data | length }}" headers="logs-date">{{ log.loggedAt | localizeddate('short','short')}}</td>
                    <td rowspan="{{ log.data | length }}" headers="logs-user">{{ log.username }}</td>
                    {% for key, row in log.data %}
                        <td headers="logs-value">
                            {% if key == 'name' %}
                                {{ 'setting.family.name'| trans }}: {{ row }}
                            {% elseif key == 'parent' %}
                                {{ 'setting.family.parent'| trans }}: {{ row.id }}
                            {% endif %}
                        </td>
                        {% if not loop.last %}</tr><tr>{% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock content_content %}

{% block content_sidebar %}
    <h3>{{ 'settings.actions' | trans }}</h3>
    {% if isDeletable %}
    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    {% endif %}
    <div class="text-center">
        <div class="btn-group-vertical">
            <a class="btn-mini btn btn-default" href="{{ path('settings_family_index') }}">
                <span class="fa fa-reply"></span>&nbsp;{{ 'settings.actions.back.tree' | trans }}
            </a>
            <a class="btn-mini btn btn-default" href="{{ path('settings_family_edit', { 'id': family.id }) }}">
                <span class="fa fa-pencil"></span>&nbsp;{{ 'settings.actions.edit' | trans }}
            </a>
            {% if isDeletable %}
                <a class="btn btn-danger btn-mini confirm-delete" data-toggle="modal" data-target="#confirm-delete" data-form="form" href="#">
                    <span class="fa fa-remove"></span>&nbsp;{{ 'settings.actions.delete' | trans }}
                </a>
            {% else %}
                <span class="btn btn-danger disabled">
                    <span class="fa fa-remove"></span>&nbsp;{{ 'settings.actions.delete' | trans }}
                </span>
            {% endif %}
        </div>
    </div>
    {% if isDeletable %}
    {{ form_end(delete_form) }}
    {% endif %}
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'setting.information' | trans }}</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>{{ 'setting.created.by' | trans}}</dt>
                <dd>{{ family.creator.username }}</dd>
                <dt>{{ 'setting.created.at' | trans}}</dt>
                <dd>{{ family.created | localizeddate('short', 'short') }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
