{% extends '@App/base.html.twig' %}

{% block title %}{{ 'setting.family.show.title %name%'|trans({'%name%': family.name})}}{% endblock title %}

{% block headline %}{{ 'setting.family.show.title %name%'|trans({'%name%': family.name})}}{% endblock %}

{% block content_content %}
    <ol class="breadcrumb">
        {%  for node in path %}
        <li><a href="{{ path('settings_families_show', {'id': node.id}) }}" title="{{ node.name }}">{{ node.name }}</a></li>
        {% endfor %}
    </ol>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'setting.global-information' | trans }}</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt class="lead">{{ 'setting.family.name'| trans }}</dt>
                <dd class="lead">{{ family.name }}</dd>
                <dt>{{ 'setting.family.root'| trans }}</dt>
                <dd>{{ family.root.name }}</dd>
                <dt>{{ 'setting.family.parent'| trans }}</dt>
                    {% if family.parent is null %}
                        <dd><em>{{ 'setting.none' | trans }}</em></dd>
                    {% else %}
                        <dd>{{ family.parent.name }}</dd>
                    {% endif %}
            </dl>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'setting.log' | trans }}</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>
                    {# @TODO add log data #}@TODO
                </li>
            </ul>
        </div>
    </div>
{% endblock content_content %}

{% block content_sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'setting.information' | trans }}</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>{{ 'setting.created.by' | trans}}</dt>
                <dd>{{ family.creator.username }}</dd>
                <dt>{{ 'setting.created.at' | trans}}</dt>
                <dd>{{ family.created | localizeddate('short', 'short') }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
